<%= form_for @edit_user, :url => "/users/update/#{@edit_user.id}" do |f| %>
  <% if @edit_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@edit_user.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @edit_user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% content_for :header do %>
    <h4 class="modal-title" id="myModalLabel">'<%= "#{@edit_user.first_name} #{@edit_user.last_name} (#{@edit_user.email})" %>'
    <div style="float: right;"><%= link_to "/users/delete/#{@edit_user.id}", :confirm=> 'Do you really want to delete this user?', :method=>:destroy, :class=>'btn btn-danger' do%><i class="fa fa-trash-o fa-sm"><%= " Delete User" %></i><% end %></div>
    </h4>
  <% end %>
  <div class="input-reskin">
  <%= f.label :first_name, 'First Name' %>
  <%= f.text_field :first_name %></br>
  <%= f.label :last_name, 'Last Name' %>
  <%= f.text_field :last_name %>
  <%= f.label :email, 'Email' %>
  <%= f.email_field :email %>
  </br>
  </div>
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    
    <%= f.submit 'Save', class: 'btn btn-success'%>
<% end %>