<html><body>
<div class="conatainer">
    <div class="Absolute-Center is-Responsive text-centered">
	<div class="overflow-auto" style="overflow: auto; height: 98%;">
	<table class="table table-bordered table-striped">
	<% if @position.size > 0 %>
	  <th>Name</th>
	  <th>Email Address</th>
	  <th>Last Sign-in</th>
	  <th>Waiver</th>
	  <th>Dues</th>
	  <th>Position</th>
	  <% @users.each do |user| %>
	    <tr>
		
		<td><%= link_to "/users/#{user.id}/edit", data: {modal: true} do%><i class="fa fa-pencil fa-fw"></i><%end%>&nbsp<%= "#{user.first_name} #{user.last_name}" %></td>
		<td><%= user.email %></td>
		<td><%= user.current_sign_in_at %></td>
		<% if @position.include?("president") or @position.include?("treasurer") %>
		  <td>
		  <% if user.waiver %>
		    <%= link_to "Complete", "/users/#{user.id}/waiver", :class => 'btn btn-success' %>
		  <% else %>
		    <%= link_to "Incomplete", "/users/#{user.id}/waiver", :class => 'btn btn-danger' %>
		  <% end %>
		  </td>
		  <td>
		  <% if user.dues %>
		    <%= link_to "Paid", "/users/#{user.id}/dues", :class => 'btn btn-success' %>
		  <% else %>
		    <%= link_to "Unpaid", "/users/#{user.id}/dues", :class => 'btn btn-danger' %>
		  <% end %>
		  </td>
		<% else %>
		  <% if user.waiver %>
		    <td> Complete </td>
		  <% else %>
		    <td> Incomplete </td>
		  <% end %>
		  <% if user.dues %>
		    <td> Paid </td>
		  <% else %>
		    <td > Unpaid </td>
		  <% end %>
		  </td>
		<% end %>
		<td><%= Position.where("users_id=#{user.id}").select("title").collect{|t| t.title}.join(", ")%></td>
	      <% if @position.include?("president") %>
		  <td><%= link_to 'Edit Position', "/users/#{user.id}/positions", data: { modal: true}, :class=>'btn btn-info' %></td>
		<% end %>
	    </tr>
	  <% end %>
	<% else %>
	  <th>Name</th>
	  <th>Email Address</th>
	  <th>Position</th>
	  <% @users.each do |user| %>
	    <tr>
		<td><%= "#{user.first_name} #{user.last_name}" %></td>
		<td><%= user.email %></td>
		<td><%= Position.where("users_id=#{user.id}").select("title").collect{|t| t.title.capitalize}.join(", ")%></td>
	    </tr>
	  <% end %>
	<% end %>
	</table>
	</div>
    </div>
  </div>
</body></html>